.font-mulish{
    font-family: "Mulish", sans-serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

hr{
    border-top: 1px dashed #12132d40;
}

.lat-post-para{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* .footer hr{
    border-top: 5px solid black;
} */